.BoardView {
    width: 100%;
    height: 100%;

    background-color: transparent;

    box-sizing: border-box;
    user-select: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .MiddleRow {
        width: 100%;
        height: 100%;

        background-color: transparent;

        box-sizing: border-box;
        user-select: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}