.PlayerBox {
    user-select: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    margin: 0 10px;
    // background-color: rgba(0, 0, 0, 0.01);

    .NameBox {
        width: 100%;

        user-select: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;

        font-size: 20px;
        font-weight: normal;
    }

    .ActivityIndicator {
        width: 100%;
        height: 3px;
    }
}